<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPS BASKET</title>
    <link rel='stylesheet' id='wp-block-library-css'  href='/public/site/css/dist/block-library/style.min.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-scrollbar-css'  href='/public/site/css/jquery.mCustomScrollbar.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-styles-css'  href='/public/site/css/theme-styles.css?ver=1621484874' type='text/css' media='all' />
 
    <script async="" src="/public/site/js/all.min.js"></script>
</head>

<body>
    <div class="wrapper">

        <section class="inner-opening menu-show">
            <div class="container">
                <div class="text index">
                    <h1 style="font-size:35px;font-weight:bolder"><i class="fad fa-xs fa-code"></i> <em>APPS</em> <sup style="font-size:15px;color:#f59f60">AUCC</sup> <i class="fad fa-xs fa-code"></i></h1>
                </div>
            </div>
            <img width="1500" height="231" class="bg lazyloaded"
                src="/public/site/img/inner-header-pattern2.png"
                type="image/png" alt="Piper Industries"
                srcset="/public/site/img/inner-header-pattern2.png 1x, https://www.pipercompanies.com/wp-content/themes/piper/img/inner-header-pattern2@2x.png 2x"
                data-ll-status="loaded"><noscript><img width="1500" height="231" class="bg"
                    src="/public/site/img/inner-header-pattern2.png"
                    srcset="/public/site/img/inner-header-pattern2.png 1x, /public/site/img/inner-header-pattern2@2x.png 2x"
                    type="image/png" alt="AUCC" /></noscript>
        </section>
        <section class="industries-page">
            <div class="container">
                <!--
                <h3>APPS BASKET</h3>
                <p>All AUCC Applications at one location for your use!</p>
                -->
                <ul>
                    <li>
                        <a href="https://portal.aucc.edu.gh/login">
                            <div class="icon"><i class="fad fa-2x fa-user-lock"></i></div>
                            <div class="title">STUDENT PORTAL</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://portal.aucc.edu.gh/applicant">
                            <div class="icon"><i class="fad fa-2x fa-user-graduate"></i></div>
                            <div class="title">APPLICANT PORTAL</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://apps.aucc.edu.gh/services">
                            <div class="icon"><i class="fad fa-2x fa-store"></i></div>
                            <div class="title">STUDENT SERVICES</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://portal.aucc.edu.gh/login">
                            <div class="icon"><i class="fad fa-2x fa-user-lock"></i></div>
                            <div class="title">STAFF PORTAL</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://apps.aucc.edu.gh/staff/web">
                            <div class="icon"><i class="fad fa-2x fa-browser"></i></div>
                            <div class="title">STAFF WEB</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://portal.aucc.edu.gh/login">
                            <div class="icon"><i class="fad fa-2x fa-user-lock"></i></div>
                            <div class="title">ALUMNI PORTAL</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://apps.aucc.edu.gh/alumni/shop">
                            <div class="icon"><i class="fad fa-2x fa-bags-shopping"></i></div>
                            <div class="title">ALUMNI SHOP</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://apps.aucc.edu.gh/alumni/web">
                            <div class="icon"><i class="fad fa-2x fa-users-class"></i></div>
                            <div class="title">ALUMNI WEB</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://aucc.edu.gh">
                            <div class="icon"><i class="fad fa-2x fa-globe"></i></div>
                            <div class="title">AUCC WEBSITE</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ltmpl=default&hd=aucc.edu.gh&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                            <div class="icon"><i class="fad fa-2x fa-mail-bulk"></i></div>
                            <div class="title">AUCC WEBMAIL</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://apps.aucc.edu.gh/jobs">
                            <div class="icon"><i class="fad fa-2x fa-user-hard-hat"></i></div>
                            <div class="title">AUCC JOBS</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                   
                    <li>
                        <a href="https://apps.aucc.edu.gh/helpdesk">
                            <div class="icon"><i class="fad fa-2x fa-user-headset"></i></div>
                            <div class="title">AUCC HELPDESK</div>
                            <div class="arrow"><i class="fal fa-long-arrow-right"></i></div>
                        </a>
                    </li>
                   
                </ul>

            </div>
        </section>
        <footer>

            <div class="footer-copy">
                <div class="container">
                    <div class="links">
                        <ul id="menu-footer-nav-bottom" class="menu">
                            <li id="menu-item-576" class=""><a href="#">&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="copy"><span style="font-size:14px">©</span> 2021 - AFRICAN UNIVERSITY COLLEGE OF COMMUNICATIONS.</div>
                </div>
            </div>
        </footer>
    </div>
    
    <noscript>
      <link rel='stylesheet' id='wp-block-library-css'  href='/public/site/css/dist/block-library/style.min.css?ver=5.7.2' type='text/css' media='all' />
      <link rel='stylesheet' id='custom-scrollbar-css'  href='/public/site/css/jquery.mCustomScrollbar.css?ver=5.7.2' type='text/css' media='all' />
      <link rel='stylesheet' id='theme-styles-css'  href='/public/site/css/theme-styles.css?ver=1621484874' type='text/css' media='all' />
    </noscript>
</body>

</html>