<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPS BASKET</title>
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNovaCond-Thin.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNovaCond-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNova-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNova-Semibold.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNova-Bold.woff2" type="font/woff2" crossorigin="anonymous">


    <link rel='stylesheet' id='wp-block-library-css'  href='/public/site/css/style.min.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-scrollbar-css'  href='/public/site/css/jquery.mCustomScrollbar.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-styles-css'  href='/public/site/css/theme-styles.css?ver=1621484874' type='text/css' media='all' />
 
    <script async="" src="/public/site/js/all.min.js"></script>
</head>

<body>
    <div class="wrapper">

        <section class="inner-opening menu-show" style="height:150px">
            <div class="container">
                <div class="text">
                    <div class="text">
                        <div class="breadcrumbs">MANAGEMENT INFORMATION SYSTEMS SECTION</div>
                        <h2>SYSTEMS ANALYST</h2>
                    </div>
                </div>
            </div>
            <img width="1500" height="231" class="bg lazyloaded"
                src="/public/site/img/inner-header-pattern2.png"
                type="image/png" alt="Piper Industries"
                srcset="/public/site/img/inner-header-pattern2.png 1x, https://www.pipercompanies.com/wp-content/themes/piper/img/inner-header-pattern2@2x.png 2x"
                data-ll-status="loaded"><noscript><img width="1500" height="231" class="bg"
                    src="/public/site/img/inner-header-pattern2.png"
                    srcset="/public/site/img/inner-header-pattern2.png 1x, /public/site/img/inner-header-pattern2@2x.png 2x"
                    type="image/png" alt="AUCC" /></noscript>
        </section>
        <section class="industries-detail-opening enterprise">
            <div class="container">
                
                <div class="content">
					<h3>EBENEZER KWABENA BLAY ACKAH</h3>
					<p>Big data is fundamentally changing the ways enterprises do business. The ability to gather, transform, cleanse, store, and analyze data is increasingly important to gaining strategic advantages in the marketplace. </p>
                    <p>Piper Enterprise Solutions has a deep understanding of the technologies, processes and analytical approaches that empower enterprises to capture new markets and build value. Leading companies depend on our staffing solutions to deliver specialized professionals who understand the changing landscape of data and are able to extract smart data to deliver outcomes such as cost savings, more efficient decision-making, and improvements in customer service and engagement. </p>
					<a class="link1" href="/recruit-talented-employees/">Partnering with Piper</a> 
					<a class="link2" href="/staffing-solutions#our-services">Our Services</a>
				</div>
                <div class="img-container">
					<img src="https://www.pipercompanies.com/wp-content/uploads/2020/02/BusinessAnalytics-1.jpg">
				</div>

            </div>
        </section>
        <section class="industries-detail-skills enterprise" style="display:none">
			<div class="container">
				<h3>Find Talent With The Right Skills</h3>
                <ul>
                    <li>Data Governance</li>
                    <li>Data Mining </li>
                    <li>Data Quality </li>
                    <li>Data Scraping </li>
                    <li>Data Visualization </li>
                    <li>ETL Development   </li>
                    <li>Report Development  </li>
                    <li>Statistical Analysis</li>
                    <li>Data, Predictive &amp; Credit Risk Modeling (SAS) </li>
                </ul>
            </div>
		</section>
        <hr/>

        <section class="client-solutions-services" id="our-services">
			<div class="container">
				<h3>Our Services</h3>
				<p>Our rigorous customer engagement process assures results in addressing a variety of people-centered challenges. Whether it is helping teams reach maximum performance through comprehensive managed services, directly recruiting permanent employees, or staffing projects on a contract or contract-to-hire basis, our engagement process delivers results we are proud of.</p>
									<ul>
													<li>
								<div class="icon"><svg class="svg-inline--fa fa-file-contract fa-w-12" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="file-contract" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M384 128H272a16 16 0 0 1-16-16V0H24A23.94 23.94 0 0 0 0 23.88V488a23.94 23.94 0 0 0 23.88 24H360a23.94 23.94 0 0 0 24-23.88V128zM64 72a8 8 0 0 1 8-8h80a8 8 0 0 1 8 8v16a8 8 0 0 1-8 8H72a8 8 0 0 1-8-8zm0 64a8 8 0 0 1 8-8h80a8 8 0 0 1 8 8v16a8 8 0 0 1-8 8H72a8 8 0 0 1-8-8zm240 280h-47.19a43 43 0 0 1-38.64-23.86 11.08 11.08 0 0 0-10.17-6.52 10.91 10.91 0 0 0-10 6.19l-7.67 15.34A16 16 0 0 1 176 416a8.77 8.77 0 0 1-1.14-.05 16 16 0 0 1-14-10.89L144 354.59l-10.61 31.88a43.17 43.17 0 0 1-41 29.53H80a16 16 0 0 1 0-32h12.39a11.21 11.21 0 0 0 10.61-7.66l18.19-54.64a24 24 0 0 1 45.55 0l13.88 41.64c19.8-16.19 54.08-9.7 66 14.16a11.39 11.39 0 0 0 10.16 6.5H304a16 16 0 0 1 0 32z"></path><path class="fa-primary" fill="currentColor" d="M377 105L279.1 7a24 24 0 0 0-17-7H256v112a16 16 0 0 0 16 16h112v-6.1a23.9 23.9 0 0 0-7-16.9zm-73 279h-47.19a11.39 11.39 0 0 1-10.16-6.5c-12-23.86-46.23-30.35-66-14.16l-13.91-41.64a24 24 0 0 0-45.55 0L103 376.34A11.21 11.21 0 0 1 92.39 384H80a16 16 0 0 0 0 32h12.39a43.17 43.17 0 0 0 41-29.53L144 354.59l16.86 50.47a16 16 0 0 0 14 10.89 8.77 8.77 0 0 0 1.14.05 16 16 0 0 0 14.33-8.85l7.67-15.34a10.91 10.91 0 0 1 10-6.19 11.08 11.08 0 0 1 10.17 6.52A43 43 0 0 0 256.81 416H304a16 16 0 0 0 0-32z"></path></g></svg><!-- <i class="fad fa-file-contract"></i> --></div>
								<div class="title">Contract Services</div>
								<div class="details">We provide technical resources on a contract and contract-to-hire basis augmenting our clients’ staffing needs. Whether a sudden surge or long term project, we are able to on-board the right people rapidly.</div>
							</li>
													<li>
								<div class="icon"><svg class="svg-inline--fa fa-id-card fa-w-18" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="id-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M0 128v304a48 48 0 0 0 48 48h480a48 48 0 0 0 48-48V128zm176 64a64 64 0 1 1-64 64 64 64 0 0 1 64-64zm93.3 224H82.7c-10.4 0-18.8-10-15.6-19.8A64.09 64.09 0 0 1 128 352h8.2a103 103 0 0 0 79.6 0h8.2a64.09 64.09 0 0 1 60.9 44.2c3.2 9.9-5.2 19.8-15.6 19.8zM512 344a8 8 0 0 1-8 8H360a8 8 0 0 1-8-8v-16a8 8 0 0 1 8-8h144a8 8 0 0 1 8 8zm0-64a8 8 0 0 1-8 8H360a8 8 0 0 1-8-8v-16a8 8 0 0 1 8-8h144a8 8 0 0 1 8 8zm0-64a8 8 0 0 1-8 8H360a8 8 0 0 1-8-8v-16a8 8 0 0 1 8-8h144a8 8 0 0 1 8 8z"></path><path class="fa-primary" fill="currentColor" d="M224 352h-8.2a103 103 0 0 1-79.6 0H128a64.09 64.09 0 0 0-60.9 44.2C63.9 406 72.3 416 82.7 416h186.6c10.4 0 18.8-9.9 15.6-19.8A64.09 64.09 0 0 0 224 352zM528 32H48A48 48 0 0 0 0 80v48h576V80a48 48 0 0 0-48-48zM176 320a64 64 0 1 0-64-64 64 64 0 0 0 64 64z"></path></g></svg><!-- <i class="fad fa-id-card"></i> --></div>
								<div class="title">Direct Placement</div>
								<div class="details">We focus on working closely with our clients to fully understand their technical requirements and assist in growing their permanent employee base. Our tenured recruiting team is dedicated to understanding our clients’ culture and long term vision.</div>
							</li>
													<li>
								<div class="icon"><svg class="svg-inline--fa fa-tasks fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="tasks" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M496 384H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"></path><path class="fa-primary" fill="currentColor" d="M139.61 35.5a12 12 0 0 0-17 0L58.93 98.81l-22.7-22.12a12 12 0 0 0-17 0L3.53 92.41a12 12 0 0 0 0 17l47.59 47.4a12.78 12.78 0 0 0 17.61 0l15.59-15.62L156.52 69a12.09 12.09 0 0 0 .09-17zm0 159.19a12 12 0 0 0-17 0l-63.68 63.72-22.7-22.1a12 12 0 0 0-17 0L3.53 252a12 12 0 0 0 0 17L51 316.5a12.77 12.77 0 0 0 17.6 0l15.7-15.69 72.2-72.22a12 12 0 0 0 .09-16.9zM64 368c-26.49 0-48.59 21.5-48.59 48S37.53 464 64 464a48 48 0 0 0 0-96z"></path></g></svg><!-- <i class="fad fa-tasks"></i> --></div>
								<div class="title">Professional Services</div>
								<div class="details">We balance objectives, manage risks, and overcome constraints to successfully complete project milestones, KPIs, SOW deliverables, and business objectives on-time and within budget.</div>
							</li>
													<li>
								<div class="icon"><svg class="svg-inline--fa fa-user-plus fa-w-20" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M640 224v32a16 16 0 0 1-16 16h-64v64a16 16 0 0 1-16 16h-32a16 16 0 0 1-16-16v-64h-64a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h64v-64a16 16 0 0 1 16-16h32a16 16 0 0 1 16 16v64h64a16 16 0 0 1 16 16z"></path><path class="fa-primary" fill="currentColor" d="M224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128zm89.6 32h-16.7a174.08 174.08 0 0 1-145.8 0h-16.7A134.43 134.43 0 0 0 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6A134.43 134.43 0 0 0 313.6 288z"></path></g></svg><!-- <i class="fad fa-user-plus"></i> --></div>
								<div class="title">Recruitment Process Outsourcing</div>
								<div class="details">We provide on-premise and off-premise recruitment support with a focus on improved time-to-fill, increased candidate quality, and additional flexibility/scalability, all while managing our team to verifiable metrics.</div>
							</li>
													<li>
								<div class="icon"><svg class="svg-inline--fa fa-user-chart fa-w-20" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-chart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M592 0H208c-26.47 0-48 22.25-48 49.59V96c23.42 0 45.1 6.78 64 17.8V64h352v288H307.76a127.45 127.45 0 0 1 39.69 64H592c26.47 0 48-22.25 48-49.59V49.59C640 22.25 618.47 0 592 0zM312 217.94l55 55a24 24 0 0 0 34 .06l72-72 24.3 24.3c11.34 11.34 30.73 3.31 30.73-12.73V124a12 12 0 0 0-12-12h-88.57c-16 0-24.07 19.39-12.73 30.73L439 167l-55 55-55-55a24 24 0 0 0-34 0l-14.75 14.75C285 195.07 288 209.13 288 224a126.17 126.17 0 0 1-2 19.95z"></path><path class="fa-primary" fill="currentColor" d="M160 320a96 96 0 1 0-96-96 96 96 0 0 0 96 96zm48 32h-3.81c-13.93 4.83-28.64 8-44.19 8s-30.26-3.17-44.19-8H112A112 112 0 0 0 0 464a48 48 0 0 0 48 48h224a48 48 0 0 0 48-48 112 112 0 0 0-112-112z"></path></g></svg><!-- <i class="fad fa-user-chart"></i> --></div>
								<div class="title">Managed Service Provider (MSP/VMS)</div>
								<div class="details">We implement MSP solutions that add value by creating a single point of contact for invoicing and supplier management which streamlines communication, optimizes supplier performance, reduces spend, and increases the ROI for your contingent labor program.</div>
							</li>
													<li>
								<div class="icon"><svg class="svg-inline--fa fa-users fa-w-20" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="users" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M96 224a64 64 0 1 0-64-64 64.06 64.06 0 0 0 64 64zm480 32h-64a63.81 63.81 0 0 0-45.1 18.6A146.27 146.27 0 0 1 542 384h66a32 32 0 0 0 32-32v-32a64.06 64.06 0 0 0-64-64zm-512 0a64.06 64.06 0 0 0-64 64v32a32 32 0 0 0 32 32h65.9a146.64 146.64 0 0 1 75.2-109.4A63.81 63.81 0 0 0 128 256zm480-32a64 64 0 1 0-64-64 64.06 64.06 0 0 0 64 64z"></path><path class="fa-primary" fill="currentColor" d="M396.8 288h-8.3a157.53 157.53 0 0 1-68.5 16c-24.6 0-47.6-6-68.5-16h-8.3A115.23 115.23 0 0 0 128 403.2V432a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48v-28.8A115.23 115.23 0 0 0 396.8 288zM320 256a112 112 0 1 0-112-112 111.94 111.94 0 0 0 112 112z"></path></g></svg><!-- <i class="fad fa-users"></i> --></div>
								<div class="title">Talent Acquisition Consulting</div>
								<div class="details">We take a macro-level view of your talent acquisition program and identify improvement strategies for increasing talent acquisition program performance, streamlining staffing supplier management, and establishing a results driven recruiting culture.</div>
							</li>
											</ul>
							</div>
		</section>


        <footer>

            <div class="footer-copy">
                <div class="container">
                    <div class="links">
                        <ul id="menu-footer-nav-bottom" class="menu">
                            <li id="menu-item-576" class=""><a href="#">&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="copy"><span style="font-size:14px">©</span> 2021 - AFRICAN UNIVERSITY COLLEGE OF COMMUNICATIONS.</div>
                </div>
            </div>
        </footer>
    </div>
    
    <noscript>
      <link rel='stylesheet' id='wp-block-library-css'  href='/public/site/css/dist/block-library/style.min.css?ver=5.7.2' type='text/css' media='all' />
      <link rel='stylesheet' id='custom-scrollbar-css'  href='/public/site/css/jquery.mCustomScrollbar.css?ver=5.7.2' type='text/css' media='all' />
      <link rel='stylesheet' id='theme-styles-css'  href='/public/site/css/theme-styles.css?ver=1621484874' type='text/css' media='all' />
    </noscript>
</body>

</html>