<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPS BASKET</title>
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNovaCond-Thin.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNovaCond-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNova-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNova-Semibold.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/public/site/fonts/ProximaNova-Bold.woff2" type="font/woff2" crossorigin="anonymous">


    <link rel='stylesheet' id='wp-block-library-css'  href='/public/site/css/style.min.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-scrollbar-css'  href='/public/site/css/jquery.mCustomScrollbar.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-styles-css'  href='/public/site/css/theme-styles.css?ver=1621484874' type='text/css' media='all' />
 
    <script async="" src="/public/site/js/all.min.js"></script>
</head>

<body>
    <div class="wrapper">

        <section class="inner-opening menu-show" style="height:150px">
            <div class="container">
                <div class="text">
                    <div class="text">
                        <div class="breadcrumbs">Industry | Enterprise</div>
                        <h1>Business Analytics</h1>
                    </div>
                </div>
            </div>
            <img width="1500" height="231" class="bg lazyloaded"
                src="/public/site/img/inner-header-pattern2.png"
                type="image/png" alt="Piper Industries"
                srcset="/public/site/img/inner-header-pattern2.png 1x, https://www.pipercompanies.com/wp-content/themes/piper/img/inner-header-pattern2@2x.png 2x"
                data-ll-status="loaded"><noscript><img width="1500" height="231" class="bg"
                    src="/public/site/img/inner-header-pattern2.png"
                    srcset="/public/site/img/inner-header-pattern2.png 1x, /public/site/img/inner-header-pattern2@2x.png 2x"
                    type="image/png" alt="AUCC" /></noscript>
        </section>
        <section class="industries-detail-opening enterprise">
            <div class="container">
                
                <div class="content">
					<h3>We Know The Industry</h3>
					<p>Big data is fundamentally changing the ways enterprises do business. The ability to gather, transform, cleanse, store, and analyze data is increasingly important to gaining strategic advantages in the marketplace. </p>
                    <p>Piper Enterprise Solutions has a deep understanding of the technologies, processes and analytical approaches that empower enterprises to capture new markets and build value. Leading companies depend on our staffing solutions to deliver specialized professionals who understand the changing landscape of data and are able to extract smart data to deliver outcomes such as cost savings, more efficient decision-making, and improvements in customer service and engagement. </p>
					<a class="link1" href="/recruit-talented-employees/">Partnering with Piper</a> 
					<a class="link2" href="/staffing-solutions#our-services">Our Services</a>
				</div>
                <div class="img-container">
					<img width="1254" height="837" src="https://www.pipercompanies.com/wp-content/uploads/2020/02/BusinessAnalytics-1.jpg" class="lazyloaded" data-ll-status="loaded"><noscript><img width="1254" height="837" src="https://www.pipercompanies.com/wp-content/uploads/2020/02/BusinessAnalytics-1.jpg" /></noscript>
				</div>

            </div>
        </section>
        <footer>

            <div class="footer-copy">
                <div class="container">
                    <div class="links">
                        <ul id="menu-footer-nav-bottom" class="menu">
                            <li id="menu-item-576" class=""><a href="#">&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="copy"><span style="font-size:14px">©</span> 2021 - AFRICAN UNIVERSITY COLLEGE OF COMMUNICATIONS.</div>
                </div>
            </div>
        </footer>
    </div>
    
    <noscript>
      <link rel='stylesheet' id='wp-block-library-css'  href='/public/site/css/dist/block-library/style.min.css?ver=5.7.2' type='text/css' media='all' />
      <link rel='stylesheet' id='custom-scrollbar-css'  href='/public/site/css/jquery.mCustomScrollbar.css?ver=5.7.2' type='text/css' media='all' />
      <link rel='stylesheet' id='theme-styles-css'  href='/public/site/css/theme-styles.css?ver=1621484874' type='text/css' media='all' />
    </noscript>
</body>

</html>